<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title th:text="${addStatus?'Add User Page': 'Update User Page'}">Add User Page</title>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/assets/css/index.css"/>
</head>
<body>
	<div class="container">
		<h2 th:text="${addStatus==true?'Add User':'Update User' }"></h2><hr>
		<form th:action="${addStatus==true?'/user/add':'/user/update'}" method="post" th:object="${user}"> 
			<div class="form-group">
				<label>Id:</label><input type="number" class="form-control" th:field="*{id}"/>
				<span class="error" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Error Id</span>
			</div>
			<div class="form-group">
				<label>Name: </label> <input type="text" class="form-control" th:field="*{name}"/>
				<span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error Name</span>
			</div>
			<div class="form-group">
				<label>Gender:</label> <input type="text" class="form-control" th:field="*{gender}"/>
				<span class="error" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Error Gender</span>
			</div>
			<div class="form-group">
				<label>Image:</label> <input type="text" class="form-control" th:field="*{image}"/>
				<span class="error" th:if="${#fields.hasErrors('image')}" th:errors="*{image}">Error Image</span>
			</div>
			<button type="submit" class="btn btn-default" th:text="${addStatus==true?'Add User': 'Update User'}">Add User</button>
		</form>
	</div>
</body>
</html>