<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/default">
<head>
	<meta charset="uft-8"/>
	<title th:text="${addStatus?'Create User Page': 'Update User Page'}">Create User Page</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="alert alert-info">
			<h2 th:text="${addStatus==true?'Create User':'Update User' }"></h2><hr>
			<a class="btn btn-primary" href="/">Return Home</a>
		</div>

		<form th:action="${addStatus==true?'/user/add':'/user/update'}" method="post" th:object="${user}" enctype="multipart/form-data">
			<label th:if="${#fields.hasErrors('*')}" th:text="'Errors: '">Errors: </label>
			<ul>
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
			
			<input type="hidden" th:field="*{id}"/>
			
			<div class="form-group">
				<label>Name: </label> <input type="text" class="form-control" th:field="*{name}" placeholder="Enter Username"/>
				<span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error Name</span>
			</div>
			<div class="form-group">
				<label>Gender:</label> <input type="text" class="form-control" th:field="*{gender}" placeholder="Enter Gender"/>
				<span class="error" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Error Gender</span>
			</div>
			<div class="form-group">
				<label>Role:</label>
				
				<select name="roleIds" th:if="${!addStatus}" multiple class="form-control" th:each="role: ${user.roles}">
					<option th:each="r: ${roles}" th:selected="${role.id==r.id}" th:value="${r.id}" th:text="${r.role}"></option>
				</select>
				
				<select name="roleIds" multiple th:if="${addStatus}" class="form-control">
					  <option th:each="r: ${roles}" th:value="${r.id}" th:text="${r.role}"></option>
				</select>
				
				<!-- 
				<select name="roles[0].id" class="form-control" th:field="*{roles[0].id}">
					<option th:each="r: ${roles}" th:value="${r.id}" th:text="${r.role}"></option>
					 
					<option th:each="r: ${roles}" th:if="${!addStatus}" th:selected="${r.id==user.roles[0].id}"  th:value="${r.id}" th:text="${r.role}"></option>
					<option th:each="r: ${roles}" th:if="${addStatus}" th:value="${r.id}" th:text="${r.role}"></option> 
					
				</select>
				 -->
			</div>
			<div class="form-group">
				<label>Image:</label> 
				<input type="file" name="file"/>
				<input type="hidden" class="form-control" th:field="*{image}" placeholder="Enter Image"/>
				<!-- <span class="error" th:if="${#fields.hasErrors('image')}" th:errors="*{image}">Error Image</span> -->
			</div>
			<div class="pull-right">
				<a href="/" class="btn btn-default">Cancel</a>
				<button type="submit" class="btn btn-primary" th:text="${addStatus==true?'Create User': 'Update User'}">Create User</button>
			</div>
		</form>
	</div>
</body>
</html>