<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorator="layouts/default">
<head>
	<meta charset="utf-8">
	<title>User List</title>
	<link rel="stylesheet" href="/assets/css/user.css"/>
</head>

<body>
	<div class="container" layout:fragment="content">
		<div class="alert alert-info">
			<h2 th:text="#{Page.user.user.title}">User List</h2>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<hr/>
				<a class="btn btn-primary" href="/user/add">Create User</a>
			</div>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>No</th>
					<th>Username</th>
					<th>Gender</th>
					<th>Roles</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody th:each="user: ${users}">
				<tr>
					<td th:text="${userStat.index+1}">1</td>
					<td th:text="${user.name}">A</td>
					<td th:text="${user.gender=='F'?'Female':'Male'}"></td>
					<td>
						<span th:each="role: ${user.roles}" th:text="${role.role}" class="label label-primary"></span>
					</td>
					<td>
						<form th:action="@{/user/remove}" th:method="delete">
							<!-- <input type="hidden" name="_method" value="DELETE"> -->
							<a class="btn btn-default" th:href="@{/user/{id}(id=${user.id})}">View</a>
							<span sec:authorize="hasRole('ROLE_ADMIN')">
								<input type="hidden" name="id" th:value="${user.id}"/>
								<input class="btn btn-danger" type="submit" value="Remove"/>
							</span>
							<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-warning" th:href="@{/user/edit(id=${user.id})}">Edit</a>
						</form>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5">
						<ul class="pager">
							<li><a href="#">Previous</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	
	<th:block layout:fragment="myScript">
	
		<script src="/assets/js/script.js"></script>
		
		<script>
			console.log('Hello from inline script!');
		</script>
		
	</th:block>
</body>
</html>