<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/default">
<head>
	<meta charset="utf-8">
	<title>User List</title>
	<link rel="stylesheet" href="/css/user.css"/>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="alert alert-info">
			<h2 th:text="#{Page.user.user.title}">User List</h2><hr/>
			<a class="btn btn-primary" href="/user/add">Create User</a>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Username</th>
					<th>Gender</th>
					<th>Image</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody th:each="user: ${users}">
				<tr>
					<td th:text="${userStat.index+1}">1</td>
					<td th:text="${user.name}">A</td>
					<td th:text="${user.gender=='F'?'Female':'Male'}"></td>
					<td>
						<img th:src="${user.image}" width="100px"/>
					</td>
					<td>
						<form th:action="@{/user/remove}" th:method="delete">
							<!-- <input type="hidden" name="_method" value="DELETE"> -->
							<a class="btn btn-default" th:href="@{/user/{id}(id=${user.id})}">View</a>
							<span>
								<input type="hidden" name="id" th:value="${user.id}"/>
								<input class="btn btn-danger" type="submit" value="Remove"/>
							</span>
							<a class="btn btn-warning" th:href="@{/user/edit(id=${user.id})}">Edit</a>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<th:block layout:fragment="myScript">
	
		<script src="/js/script.js"></script>
		
		<script>
			console.log('Hello from inline script!');
		</script>
		
	</th:block>
</body>
</html>