<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/default">
<head>
	<meta charset="uft-8"/>
	<title th:text="#{Page.user.user-detail.title}">User Detail</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="alert alert-info">
			<h2 th:text="#{Page.user.user-detail.title}">User Detail</h2><hr/>
			<a class="btn btn-primary" href="/">Return Home</a>
		</div>
		<table th:object="${userdetail}">
			<tr>
				<td><h2>Id:</h2></td>
				<td><h2 th:text="*{id}"></h2></td>
			</tr>
			<tr>
				<td><h2>Name:</h2></td>
				<td><h2 th:text="*{name}"></h2></td>
			</tr>
			<tr>
				<td><h2>Gender:</h2></td>
				<td><h2 th:text="*{gender=='F'?'Female':'Male'}"></h2></td>
			</tr>
			<tr>
				<td><h2>Image:</h2></td>
				<td><h2 th:text="*{image}"></h2></td>
			</tr>
		</table>

	</div>
</body>
</html>