<nav class="navbar navbar-default" th:fragment="header"
 		xmlns:th="http://www.thymeleaf.org"
 		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
 	
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><span class="label label-default">User Management System</span></a>
		</div>
		<ul class="nav navbar-nav pull-right" sec:authorize="isAuthenticated()">
			<li><a href="#"><span class="label label-primary">Hi, <span sec:authentication="name"></span></span></a></li>
			<li><a href="/logout"><span class="label label-warning">Logout</span></a></li>
		</ul>
		
		<ul class="nav navbar-nav pull-right" sec:authorize="isAnonymous()">
			<li><a><span class="label label-primary">Version 1.0</span></a></li>
		</ul>
	</div>
</nav>
